﻿USE [master]
GO
/****** Objeto: Database [is--servicios] Fecha de script: 08/07/2026 0:17:10 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'is--servicios')
BEGIN
    CREATE DATABASE [is--servicios];
END
GO
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [is--servicios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [is--servicios]
GO
/****** Objeto: Table [dbo].[BitacoraEventos] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEventos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](50) NOT NULL,
	[Evento] [varchar](255) NOT NULL,
	[Criticidad] [int] NOT NULL,
	[Modulo] [varchar](50) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DigitoVerificador] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[NombreTabla] [varchar](50) NOT NULL,
	[DVV] [bigint] NOT NULL,
	[DVH] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DVH] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_Familia] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Familia](
	[IdFamiliaPadre] [int] NOT NULL,
	[IdFamiliaHija] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_Patente] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Patente](
	[IdFamilia] [int] NOT NULL,
	[IdPatente] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Patente] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DVH] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[DVH] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol_Familia] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Familia](
	[IdRol] [int] NOT NULL,
	[IdFamilia] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol_Patente] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Patente](
	[IdRol] [int] NOT NULL,
	[IdPatente] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 08/07/2026 0:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[DNI] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Activo] [bit] NULL,
	[Bloqueo] [bit] NULL,
	[Intentos] [int] NULL,
	[IdRol] [int] NOT NULL,
	[UltimoIntentoFallido] [datetime] NULL,
	[IdIdioma] [int] NOT NULL,
	[DVH] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BitacoraEventos] ON 

INSERT [dbo].[BitacoraEventos] ([Id], [DNI], [Evento], [Criticidad], [Modulo], [FechaHora]) VALUES (6, N'45813074', N'Realizo login exitoso.', 3, N'1', CAST(N'2026-05-17T11:19:37.597' AS DateTime))
INSERT [dbo].[BitacoraEventos] ([Id], [DNI], [Evento], [Criticidad], [Modulo], [FechaHora]) VALUES (7, N'45813074', N'Realizo login exitoso.', 3, N'1', CAST(N'2026-05-17T11:21:05.077' AS DateTime))
INSERT [dbo].[BitacoraEventos] ([Id], [DNI], [Evento], [Criticidad], [Modulo], [FechaHora]) VALUES (8, N'45813074', N'Realizo login exitoso.', 3, N'1', CAST(N'2026-05-17T11:27:25.610' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[BitacoraEventos] OFF
GO
INSERT [dbo].[DigitoVerificador] ([NombreTabla], [DVV], [DVH]) VALUES (N'Familia', -5514948856952802810, 2099610776420524799)
INSERT [dbo].[DigitoVerificador] ([NombreTabla], [DVV], [DVH]) VALUES (N'Patente', 4285559616448560143, 7845200347564313861)
INSERT [dbo].[DigitoVerificador] ([NombreTabla], [DVV], [DVH]) VALUES (N'Rol', -1044623407310785027, 2563825932524604375)
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([Id], [Nombre], [DVH]) VALUES (4, N'Usuario', 1609856342293148682)
INSERT [dbo].[Familia] ([Id], [Nombre], [DVH]) VALUES (5, N'SuperAdministrador', 7845255393029259478)
INSERT [dbo].[Familia] ([Id], [Nombre], [DVH]) VALUES (9, N'prueba', 3476683481434340646)
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[Familia_Familia] ([IdFamiliaPadre], [IdFamiliaHija]) VALUES (5, 4)
INSERT [dbo].[Familia_Familia] ([IdFamiliaPadre], [IdFamiliaHija]) VALUES (9, 4)
GO
INSERT [dbo].[Familia_Patente] ([IdFamilia], [IdPatente]) VALUES (4, 1)
INSERT [dbo].[Familia_Patente] ([IdFamilia], [IdPatente]) VALUES (4, 2)
INSERT [dbo].[Familia_Patente] ([IdFamilia], [IdPatente]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([Id], [Nombre]) VALUES (1, N'ESP')
INSERT [dbo].[Idioma] ([Id], [Nombre]) VALUES (2, N'ING')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Patente] ON 

INSERT [dbo].[Patente] ([Id], [Nombre], [DVH]) VALUES (1, N'Cambiar Clave', 2458530159571233800)
INSERT [dbo].[Patente] ([Id], [Nombre], [DVH]) VALUES (2, N'Cambiar Idioma', 4910504425373317673)
INSERT [dbo].[Patente] ([Id], [Nombre], [DVH]) VALUES (3, N'Cerrar Sesion', 6090868369147041441)
SET IDENTITY_INSERT [dbo].[Patente] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([Id], [Nombre], [DVH]) VALUES (1, N'RolMal', 6950883660973347529)
INSERT [dbo].[Rol] ([Id], [Nombre], [DVH]) VALUES (2, N'Basico', 7106112860620502581)
INSERT [dbo].[Rol] ([Id], [Nombre], [DVH]) VALUES (3, N'Prueba', 3345124144804916479)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[Rol_Familia] ([IdRol], [IdFamilia]) VALUES (1, 5)
INSERT [dbo].[Rol_Familia] ([IdRol], [IdFamilia]) VALUES (2, 4)
INSERT [dbo].[Rol_Familia] ([IdRol], [IdFamilia]) VALUES (3, 9)
GO
INSERT [dbo].[Rol_Patente] ([IdRol], [IdPatente]) VALUES (3, 7)
GO
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [Username], [Email], [PasswordHash], [Activo], [Bloqueo], [Intentos], [IdRol], [UltimoIntentoFallido], [IdIdioma], [DVH]) VALUES (N'21487343', N'Marisa', N'Rojas', N'marisa21487343', N'marisarojas@gmail.com', N'ff960cb55673958c594d0daaab1e368651c75c02f9687192a1811e7b180336a7', 1, 1, 4, 2, CAST(N'2026-05-19T16:45:05.357' AS DateTime), 1, 2755667542133604088)
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [Username], [Email], [PasswordHash], [Activo], [Bloqueo], [Intentos], [IdRol], [UltimoIntentoFallido], [IdIdioma], [DVH]) VALUES (N'45813074', N'Naiara', N'Esterman', N'naiara45813074', N'naiaraesterman63@gmail.com', N'e82cff6eaf002bca3627fa8a89617d585d5745792dd725cced9650609208265a', 1, 0, 0, 2, NULL, 1, 8930650879846902315)
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [Username], [Email], [PasswordHash], [Activo], [Bloqueo], [Intentos], [IdRol], [UltimoIntentoFallido], [IdIdioma], [DVH]) VALUES (N'47006530', N'Benjamin', N'Aguila', N'benjamin47006530', N'benjaaguila6@gmail.com', N'afd9fcfa114d0865303015b5cf57efe9f2088634dc553bd556bb3a2189362a46', 1, 0, 0, 1, NULL, 1, 8102442479945884455)
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__A9D10534635DBE0C] Fecha de script: 08/07/2026 0:17:10 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__A9D10534D204B97C] Fecha de script: 08/07/2026 0:17:10 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__A9D10534F2ABD4DA] Fecha de script: 08/07/2026 0:17:10 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraEventos] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Bloqueo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [IdIdioma]
GO
ALTER TABLE [dbo].[BitacoraEventos]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraEventos_Usuario] FOREIGN KEY([DNI])
REFERENCES [dbo].[Usuario] ([DNI])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BitacoraEventos] CHECK CONSTRAINT [FK_BitacoraEventos_Usuario]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Familia_FamiliaHija] FOREIGN KEY([IdFamiliaHija])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[Familia_Familia] CHECK CONSTRAINT [FK_Familia_FamiliaHija]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Familia_FamiliaPadre] FOREIGN KEY([IdFamiliaPadre])
REFERENCES [dbo].[Familia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Familia_Familia] CHECK CONSTRAINT [FK_Familia_FamiliaPadre]
GO
ALTER TABLE [dbo].[Familia_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Familia_FamiliaPatente] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Familia_Patente] CHECK CONSTRAINT [FK_Familia_FamiliaPatente]
GO
ALTER TABLE [dbo].[Familia_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Patente_FamiliaPatente] FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([Id])
GO
ALTER TABLE [dbo].[Familia_Patente] CHECK CONSTRAINT [FK_Patente_FamiliaPatente]
GO
ALTER TABLE [dbo].[Rol_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Familia_RolFamilia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[Rol_Familia] CHECK CONSTRAINT [FK_Familia_RolFamilia]
GO
ALTER TABLE [dbo].[Rol_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Rol_RolFamilia] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rol_Familia] CHECK CONSTRAINT [FK_Rol_RolFamilia]
GO
ALTER TABLE [dbo].[Rol_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Patente_RolPatente] FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([Id])
GO
ALTER TABLE [dbo].[Rol_Patente] CHECK CONSTRAINT [FK_Patente_RolPatente]
GO
ALTER TABLE [dbo].[Rol_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Rol_RolPatente] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rol_Patente] CHECK CONSTRAINT [FK_Rol_RolPatente]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO
